.pricing_card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0px;

  filter: drop-shadow(0px 8px 16px rgba(0, 0, 0, 0.25));
}

.pricing_card-price {
  padding: 64px 10px;
  gap: 10px;

  width: 100%;
  height: 194px;

  background: #313131;
}

.pricing_card-price_text {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 39px;
  align-items: center;
  text-align: center;

  /* background: linear-gradient(90deg, #ff9b9b -20.37%, #fb3434 113.89%); */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  /* width: 108px; */
  /* height: 66px; */
}
.pricing_card-img {
  width: 100%;
  height: 65.45px;
  background-repeat: no-repeat;
  background-size: cover;
  background: url("../assets/waves.png");

  /* Inside auto layout
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0; */
}

.pricing_card-features {
  /* Background Dark */

  /* Auto layout */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 64px 56px;
  gap: 10px;

  width: 100%;
  height: 272px;

  background: #242424;
}

.pricing_card-features p {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: #ffffff;
  text-align: center;
}

/* create a nedia query for tables - max width 768px */
@media (max-width: 768px) {
  .pricing_card {
    padding: 0px;
  }
  .pricing_card-price {
    padding: 32px;
    gap: 10px;

    width: 100%;
    height: 194px;
  }
  .pricing_card-price_text {
    font-size: 24px;
    line-height: 29px;
  }
  .pricing_card-img {
    width: 100%;
    height: 65.45px;
  }
  .pricing_card-features {
    padding: 32px 32px;
    gap: 10px;

    width: 100%;
    height: 272px;
  }
  .pricing_card-features p {
    font-size: 16px;
    line-height: 19px;
  }
}

/* create a nedia query for mobile - max width 480px */
@media (max-width: 480px) {
  .pricing_card {
    padding: 0px;
  }
  .pricing_card-price {
    padding: 32px;
    gap: 10px;

    width: 100%;
    height: 194px;
  }
  .pricing_card-price_text {
    font-size: 24px;
    line-height: 29px;
  }
  .pricing_card-img {
    width: 100%;
    height: 65.45px;
  }
  .pricing_card-features {
    padding: 32px 32px;
    gap: 10px;

    width: 100%;
    height: 272px;
  }
  .pricing_card-features p {
    font-size: 16px;
    line-height: 19px;
  }
}
